.homepage-02 .parent-card-services {
  margin-top: 3em;
}
.homepage-02 .projects-home-2 {
  background-color: #061935;
  padding-top: 1em;
  padding-bottom: 5em;
  margin: 5em 0;
}

.homepage-02 .projects .card:hover::after {
  background-color: #0f2233bd;
}

.homepage-02 .about ul {
  -webkit-transform: translateX(2.5em);
  -ms-transform: translateX(2.5em);
  transform: translateX(2.5em);
}

.homepage-02 .about ul li {
  margin-top: 0.5em;
}

.homepage-02 .about ul span:nth-of-type(1) {
  color: #f1a005;
  margin-left: 0.5em;
}

.homepage-02 .about img {
  height: 330px;
}


