.homepage-03 header {
background-color: #2a4359;
}

.homepage-03 .header-top {
  border-bottom: none;
}

.homepage-03 .nav-menu li a:hover {
  color: white;
}

.homepage-03 .carousel-head {
  margin-top: -1.5em;
}

.homepage-03 .feature-box {
  background-color: white;
  -webkit-box-shadow: 0 0 10px rgb(165, 165, 165);
  box-shadow: 0 0 10px rgb(165, 165, 165);
  border-radius:1em;
  padding: 2em 3em;
  margin-top: -2em;
  margin-bottom: 5em;
  position: relative;
  z-index: 2;
}

.homepage-03 .feature-box .col {
  text-align: center;
  margin-top: 0.7em;
}

.homepage-03 .feature-box .col span {
  color: #fbab18;
  font-size: 2em;
}

.homepage-03 .feature-box .col p {
  margin-top: 1em;
  font-size: 0.9em;
  color:#192735;
  font-weight: bold;
}
.homepage-03 .services-2  {
margin-top:7em;
  }
.homepage-03 .services-2 .card {
padding:0.5em;
background-color:#f2f2f2;
}
/* repeat with homepage-02 */
.homepage-03 .services-2 figure{

  width: 90%;
 
}
.homepage-03 .services-2 figure::after {
  content: '';
  position: absolute;
  top: 35px;
  left: -25px;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  background-color: #223144;
  z-index: -1;
}
/* repeat */
.homepage-03 .services-2 img {
  width: 100%;
  height: 400px;
  border-radius: 1em;
}

.homepage-03 .services-2 .icon-services {
  font-size: 2em;
}

.homepage-03 .services-2 .card-body {
  text-align: right;
}

.homepage-03 .services-2 .card-title {
  margin-top: -0.7em;
  font-size: 1em;
}

.homepage-03 .bg-banner {
  background-color: #2a4359;
  margin: 4em 0;
}
.homepage-03 .blog-grid .card {
  background-color: #ffffff;
}

.homepage-03 .blog-grid .date-blog {
  color: #8b8a8a;
}

.homepage-03 .blog-grid .title-blog {
  color: #f1a005;
}
.homepage-03 .blog-grid .caption-blog {
  color: #020202;
}

.homepage-03 .Quote {
  margin-top: 3em;
}
.homepage-03 footer {
  margin-top: -5em;
}

/* ********************************************** */
@media screen and (min-width: 992px) {
  .homepage-03 .nav-menu {
    border-radius: 30px;
    width: 95%;
    margin: 0 auto;
    height: 55px;
    background-color: #fbab18;
    position: relative;
    z-index: 3;
  }

  .homepage-03 .nav-menu ul {
    margin-left: -0.7em !important;
    -webkit-transform: translateX(4em) !important;
    -ms-transform: translateX(4em) !important;
    transform: translateX(4em) !important;
  }

  .homepage-03 .nav-menu li a {
    margin-left: -0.1em;
  }

  .homepage-03 .nav-menu .thubmenu .dropdown1 {
    right: 50px !important;
  }

  .homepage-03 .nav-menu .thubmenu .dropdown2 {
    right: 13em !important;
  }
  .homepage-03 .services-2 figure {
    margin-right:1.3em;
  }
}
/* ************************************************* */
@media screen and (min-width: 1200px) {
  .homepage-03 .nav-menu ul {
    margin-left: 8em !important;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
