.homepage-04 header {
  background-color: #2a4359;
}

.homepage-04 .header-top {
  border-bottom: none;
}

.homepage-04 .nav-menu li a:hover {
  color: white;
}
.homepage-04 .carousel-head {
  margin-top: -1.5em;
}
.homepage-04 .services-2 {
  margin-top: 7em;
  margin-bottom: 5em;
}
/* repeat */

.services-2 .card {
  padding: 0.5em;
  background-color: #f2f2f2;
}
/* repeat with homepage-02 */
.services-2 figure {
  width: 90%;
  position: relative;
}
.services-2 figure::after {
  content: '';
  position: absolute;
  top: 35px;
  right: -25px;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  background-color: #223144;
  z-index: -1;
}
/* repeat */
.homepage-04 .services-2 img {
  width: 100%;
  height: 350px;
  border-radius: 1em;
}

.services-2 .icon-services {
  font-size: 2em;
}
.services-2 .card-title {
  margin-top: -0.7em;
  font-size: 1em;
}
.services-2 .card-body {
  text-align: right;
}
/* repeat */

.homepage-04 .counter-up {
  margin-top: 7em;
  margin-bottom: 6em;
  padding: 3.5em 0 1em 0;
}
.homepage-04 .counter-up h3 {
  color: #fbab18;
}
.homepage-04 .counter-up .card {
  border: none;
  font-size: 1.2em;
}
.homepage-04 .counter-up .card .card-title,
.homepage-04 .counter-up .card span {
  color: #fbab18;
  font-weight: bold;
  font-size: 2em;
}
.homepage-04 .Customers-comments {
  background-color: #2a4359;
  padding: 7em 2.3em 6em 2em;
  color: rgb(12, 12, 12);
}
.homepage-04 .swiper-wrapper {
  height: 250px;
  margin-bottom:3.5em;
}
.homepage-04 .Customers-comments .swiper-slide {
  padding: 2em;
  border-radius: 1em;
  background-color: white;
}

.homepage-04 .Customers-comments img {
  width: 100px;
  height: 80px;
  border-radius: 50%;
  margin-left: 1em;
}
.homepage-04 .Customers-comments .Customers-carousel-name{
  color: black;
}
.homepage-04 .swiper-pagination-bullet{
  background-color: #f1a005 !important;
}
.homepage-04 .blog .content-swiper-slider {
  background-color: #f2f2f2;
  border-bottom: 7px solid #2a4359;
}
.homepage-04 .date-blog {
  color: #2a4359;
}
.homepage-04 .caption-blog {
  color: #3b3b3b;
}
.homepage-04 .Quote {
  margin-top: 2em;
}
.homepage-04 footer {
  margin-top: -5em;
}
/* ************************************************ */

@media screen and (min-width: 768px) {
  .homepage-04 .services-head {
    padding: 4em 2em;
  }
}
@media screen and (min-width: 992px) {
  .homepage-04 .nav-menu {
    border-radius: 30px;
    width: 95%;
    margin: 0 auto;
    height: 55px;
    background-color: #fbab18;
    position: relative;
    z-index: 3;
  }

  .homepage-04 .nav-menu ul {
    margin-left: -0.7em !important;
    transform: translateX(4em) !important;
  }

  .homepage-04 .nav-menu li a {
    margin-left: -0.1em;
  }

  .homepage-04 .nav-menu .thubmenu .dropdown1 {
    right: 50px !important;
  }

  .homepage-04 .nav-menu .thubmenu .dropdown2 {
    right: 13em !important;
  }
  .homepage-04 .services-2 figure {
    margin-right: 1.3em;
  }
}

@media screen and (min-width: 1200px) {
  .homepage-04 .nav-menu ul {
    margin-left: 8em !important;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
