@media screen and (max-width: 576px) {
}
/* small mobile */
@media screen and (min-width: 577px) {
}
/* big mobile */
@media screen and (min-width: 768px) {
  .title {
    font-size: 1.6em;
  }
  .banner-top .benertop-text p:nth-of-type(1) {
    font-size: 2.2em;
  }
  .carousel-head img {
    height: 450px;
  }
  .Quote .icon-email {
    display: block;
  }
  .title-Customers-left {
    margin-top: 0;
  }
  .date-blog {
    font-size: 1em;
  }
  .title-blog {
    font-size: 1em;
  }
  .blog .swiper-slide .caption-blog {
    font-size: 1em;
  }
  .blog .user-blog {
    font-size: 1em;
  }
}
/* tablet */
@media screen and (min-width: 992px) {
  .header-top {
    display: flex;
  }
  .nav-response {
    margin-top: 3.6em;
  }
  .nav-menu ul {
    display: flex;
     margin-left: 4em;
  }
  .nav-menu li {
    margin-left: 0.2em;
  }

  .form-nav-desk {
    display: flex;
  }
  .nav-response {
    display: none;
  }
  .banner-top figure {
    margin-top: 0;
  }
  .carousel-head {
    margin-top: 0;
  }
  .carousel-head img {
    height: 600px;
  }

  .footer .list-footer-right ul,
  .footer .list-footer-left ul {
    width: auto;
  }
}
/* desktop */
@media screen and (min-width: 1200px) {
  .nav-menu ul {
     margin-left: 8em;
  }
  .about-section img {
    display: block;
  }
  .footer .list-footer-right {
    margin-right: 4.5em;
  }
  .footer .list-footer-left {
    margin-right: 1.7em;
  }
}
/* x-large */
