.callus-section {
  margin-top: 4em;
  margin-bottom: 5em;
}

.callus-section .callus-caption {
  text-align: justify;
}

.callus-section ul {
  transform: translateX(2em);
  overflow-x: hidden;
}

.callus-section ul li {
  margin-top: 1.5em;
}

.callus-section .callus-icon {
  color: #082044;
  background-color: #fbab18;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-left: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.callus-section ul li span:nth-of-type(2) {
  color: #082044;
  font-weight: bold;
  margin-top: 0.2em;
}

.callus-section ul li p {
  margin-top: 0.6em;
  margin-right: 2em;
  color: rgb(99, 98, 98);
}

.callus-section form .form-control {
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}

.callus-section form .form-control::placeholder {
  color: rgb(170, 169, 169);
}
/* *********************************************************************** */
@media screen and (min-width: 1200px) {
  .callus-section .callus-caption {
    padding-left: 2em;
  }
  .callus-section ul {
    transform: translateX(2.3em);
  }
}
