@font-face {
  font-family: 'Iransans';
  src: url('../fonts/IRANSansWebFaNum_Light.eot') format('eot');
  src: url('../fonts/IRANSansWebFaNum_Light.ttf') format('truetype'),
    url('../fonts/IRANSansWebFaNum_Light.woff') format('woff');
}

@font-face {
  font-family: 'IransansBold';
  src: url('../fonts/IRANSansWebFaNum_Bold.eot') format('eot');
  src: url('../fonts/IRANSansWebFaNum_Bold.ttf') format('truetype'),
    url('../fonts/IRANSansWebFaNum_Bold.woff') format('woff');
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  background-color:#f2f2f2;
  font-family: 'Iransans';
  direction: rtl;
  text-align: right;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.darkblue{
  color:#192735;
}
.title {
  color: #192735;
  font-size: 1.3em;
  text-align: center;
  font-weight: bold;
  margin: 2em auto;
  position: relative;
}

.title::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 4px;
  background-color: #fbab18;
  margin-top: 1.7em;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
}

.text-justify {
  text-align: justify;
}

.card {
  border: none;
  text-align: center;
}

.level {
  padding: 0 2.3em 0 2em;
}

.btn-color {
  color: #223144;
  border: none;
  border-radius: 0.5em;
  padding: 0.375em 0.75em;
  height: 40px;
  background-color: #fbab18;
}

.form-control {
  border: 1px solid #e2e2e2 !important;
  border-radius: 8px !important;
}

.form-control {
  height: 50px !important;
}

#exampleFormControlTextarea1 {
  height: auto !important;
}

.form-select:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: silver;
}

.form-check-input:checked {
  background-color: #fbab18;
  border-color: #fbab18;
}

.list-icon {
  color: #082044;
  background-color: #fbab18;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-left: 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.list-title {
  color: #082044;
  font-weight: bold;
  margin-top: 0.2em;
}

.list-subtitle {
  margin-top: 0.6em;
  margin-right: 2em;
  color: rgb(99, 98, 98);
}
.text-boxblog {
  background-color: rgb(236, 236, 236);
  padding: 1.7em;
  margin: 1em 0;
  position: relative;
}

.text-boxblog::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  background-color: #fbab18;
}
.pagination li {
  margin: 0 0.2em;
  border-radius: 3px !important;
}

.pagination li a {
  color: black;
  border-radius: 3px !important;
}

.pagination li a:hover {
  color: white;
  background-color: #2a4359;
}

.page-item.active a.page-link {
  background-color: #2a4359;
  border-color: #2a4359;
  color: white;
}

.page-link:focus {
  color: white !important;
  background-color: #2a4359;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.product-add .btn,
.product-add span {
  width: 40px;
  height: 40px;
  border: none;
}

.product-add .btn {
  background-color: rgb(233, 233, 233);
}

.product-add span {
  color: #223144;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

/* **************************************Common css************************************ */
.banner-top figure {
  position: relative;
  margin-top: -3em;
}

.banner-top figure::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #041c3f7c;
}

.banner-top figure img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
}

.banner-top .benertop-text {
  font-size: 0.9em;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  z-index: 3;
}

.banner-top .benertop-text p:nth-of-type(1) {
  font-family: 'IransansBold';
  text-align: content;
  font-weight: bold;
  font-size: 1.7em;
}

.banner-top a {
  color: white;
}

.banner-top .bannertop-icon {
  padding: 0 0.3em;
}

.banner-top .bannertop-index {
  color: #fbab18;
}

/* **************************************banner-top common css************************************ */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #223144;
  -webkit-box-shadow: 0 0 3px rgba(241, 241, 241, 0.2);
  box-shadow: 0 0 3px rgba(241, 241, 241, 0.2);
  color: #fbab18;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

#myBtn:hover {
  background-color: #223144;
}

/* **************************************back to top************************************ */

.header-top {
  height: 50px;
  color: white;
  background-color: #2a4359;
  border-bottom: 1px solid rgba(213, 161, 61, 0.43);
  display: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2em;
  width: 100%;
}

.icon-right-headertop {
  color: #fbab18;
}

.text-right-headertop {
  margin-right: 0.5em;
}

.social-header-top {
  margin-top: 1.1em;
  margin-left: -2em;
}

.social-header-top li {
  margin-right: 1em;
}

.social-header-top a {
  color: white;
}

.social-header-top a:hover {
  color: #fbab18;
}

/* **************************************end header top************************************ */
.nav-menu {
  background-color: #2a4359;
  height: 70px;
  width: 100%;
}

.logo {
  width: 100px;
  height: 50px;
  margin-right: -1.2em;
  margin-top: -0.3em;
}

.nav-menu ul {
  display: none;
  margin-left: 5% !important;
}

.nav-menu li {
  margin-left: 0.5em;
}

.nav-menu li a {
  color: white;
}

.nav-menu li a:hover {
  color: #fbab18;
}

.navbar-nav .nav-link.active {
  color: #fbab18;
}

.nav-menu .thubmenu {
  position: relative;
  z-index: 4;
}

.nav-menu .thubmenu .dropdown1,
.nav-menu .thubmenu .dropdown2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #253a4d;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  min-width: 160px;
  text-align: right;
  position: absolute;
  padding: 0.8em 1em;
  border-bottom: 5px solid #fbab18;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.nav-menu .thubmenu .dropdown1 {
  top: 9px;
  right: -10px;
}

.nav-menu .thubmenu .dropdown2 {
  top: -30px;
  right: 144px;
}

.nav-menu .nav-item:hover .dropdown1 {
  opacity: 1;
  visibility: visible;
}

.nav-menu .thubmenu .dropdown1 li:hover .dropdown2 {
  opacity: 1;
  visibility: visible;
}

.nav-menu .thubmenu ul li {
  width: 100%;
  margin: 0.4em 0;
}

.nav-menu .nav-link:focus {
  color: white !important;
}

.nav-menu .thubmenu ul li a {
  color: white;
  display: block;
  width: 100%;
}

.nav-menu .thubmenu ul li .active-thubmenu {
  color: #fbab18;
}

.nav-menu .thubmenu ul li a:hover {
  color: #fbab18;
}

.form-nav-desk {
  display: none;
}

.input-navbar {
  border-radius: 2em !important;
  background-color: #2a4359;
  color: white !important;
  border-color: #3b5f7c !important;
  height: 35px !important;
  margin-top: 1em;
}

.input-navbar::placeholder {
  color: white !important;
}

.input-navbar:focus {
  background-color: #154c79;
}

.form-control:focus {
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.icon-input {
  color: white;
  position: absolute;
  top: 1.6em;
  left: 1em;
}

.user {
  color: white;
  margin-left: 14px;
  margin-right: 1em;
  font-size: 1.2em;
}

/* **************************************end menu desktop************************************ */
.nav-response {
  margin-top: 0.7em;
  margin-left: 2em;
}

.nav-response li {
  margin-top: 0.5em;
  border-top: 1px solid rgba(192, 192, 192, 0.349);
}

.nav-response a {
  color: black;
}

.nav-response a:hover {
  color: #fbab18;
}

.navbar-toggler {
  border: transparent;
  margin-top: -125px;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.offcanvas.offcanvas-end {
  width: 270px;
}

.offcanvas-body li a {
  color: rgb(104, 104, 104);
  font-size: 0.9em;
}

.btn-close {
  color: black;
  margin-right: 87% !important;
  font-size: 0.8em;
}

.btn-close:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.nav-response .dropdown-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 1em;
}

.dropdown-menu {
  text-align: right;
  border: none;
}

.dropdown-menu li a {
  margin-top: 0.5em;
}

.nav-response .nav-link:focus {
  color: rgb(104, 104, 104) !important;
}

.dropdown-item:hover {
  background-color: transparent;
}

.dropdown-toggle::after {
  display: none;
}

/* **************************************end menu response************************************ */
.carousel-caption {
  position: absolute;
  z-index: 2;
  top: 18%;
}

.carousel-caption h5 {
  font-family: 'IransansBold';
  font-size: 1.3em;
}

.carousel-caption p {
  width: 100%;
  font-size: 0.9em;
  margin: 2em auto;
  padding: 0 0.4em;
}

.carousel-head {
  margin-top: -40px;
}

.carousel-head img {
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
}
.carousel-head h5 {
  color: #fbab18;
}
.curtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #041c3f98;
}

.carousel-control-next,
.carousel-control-prev {
  top: 40%;
  width: 50px;
  height: 50px;
}

.carousel-control-prev {
  margin-left: 1em;
}

.carousel-control-next {
  margin-right: 1.4em;
}

/* **************************************end carousel************************************ */
.services-top {
  margin-top: -3em;
  margin-bottom:6em;
  position: relative;
  z-index: 2;
}
.services-top .col {
  margin-top: 1em;
}
.services-top .card {
  background-color: #2a4359;
  color: white;
  border-radius:1em;
  padding: 2.5em 1em;
}

.services-borderbottom{
  border-bottom:10px solid #fbab18;
}


.services-top .services-center {
  background-color: #fbab18;
}

.services-top .services-center .icon-services {
  color: #2a4359;
}
.services-top .card-title {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

/* ***********************************end services-top*********************************** */

.projects a:hover::after {
  width: 90%;
}

.projects .card {
  overflow: hidden;
  border-radius: 1em;
}

.projects .card::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, #2a4359);
  border-radius: 1em;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.projects .card:hover::after {
  background-color: #2a4359ad;
}

.projects .card:hover::before {
  height: 90%;
}
.projects .card figure {
  position: relative;
}
.projects .card figure::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0f22333f;
}
.projects img {
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1em;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.projects .card:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  border-radius: 0.5em;
}

.projects .card-body {
  position: absolute;
  top: 40%;
  width: 100%;
  font-weight: bold;
  color: white;
  z-index: 1;
}

.projects .card p {
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.projects .card:hover p {
  margin-top: -0.8em;
}

/* **************************************end projects************************************ */
.banner {
  background-image: url('../images/h-03.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  margin: 4em 0;
  color: white;
  position: relative;
  margin-top:7em;
}

.banner::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2a4359da;
}

.p-banner {
  padding: 4em 2.5em 7em 2em;
}
.banner h2 {
  color: #f1a005;
  font-weight: bold;
}
.banner span {
  color: #f1a005;
}
.banner .card {
  border: 1px dashed white;
  border-radius: 1em;
}

.banner .card-body span {
  font-size: 1.5em;
}

.banner .card-title {
  padding: 0 0.5em;
  font-size: 1.5em;
  color: white;
  font-weight: 900;
}

.banner .card-text {
  font-weight: bold;
}

/* **************************************end banner************************************ */
.parent-services {
  position: relative;
  z-index: 2;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0 0 7px silver;
  box-shadow: 0 0 7px silver;
  margin-top: -7em;
  margin-bottom:7em;
  border-radius: 1em;
  padding: 3em 2em 1em 2em;
}
.parent-card-services {
  margin-bottom: 6em;
  position: relative;
  z-index: 2;
}

.services {
  text-align: center;
}

.services .card {
  padding: 3em 0;
  background-color: #f2f2f2;
  border-radius: 1em;
  border: 1px solid #fbab18;
}

.services .card:hover {
  color: white;
  background-color: #2a4359;
  border: 1px solid #2a4359;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.services .card-title {
  color: #2a4359;
  font-size: 1.3em;
  font-weight: bold;
  margin: 1em 0;
}

.services .card:hover .card-title {
  color: white;
}

.services p {
  font-size: 0.9em;
  color: rgb(151, 151, 151);
}

.icon-services {
  font-size: 2.5em;
  color: #fbab18;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.services .card:hover .icon-services {
  color: white;
  -webkit-animation-name: fadeIcon;
  animation-name: fadeIcon;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes fadeIcon {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeIcon {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* **************************************end services************************************ */

.Quote {
  background-color: #f1a005;
  color: #192735;
  margin: -2em 2.4em 0 2em;
  padding: 1.8em 2em;
  border-radius: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.Quote-title {
  font-weight: bold;
  font-size: 1.5em;
}

.Quote .icon-email {
  background-color: #192735;
  padding: 1em;
  border-radius: 50%;
  color: white;
  font-size: 1em;
  display: none;
}

.Quote .call-us {
  border-radius: 1.5em;
  background-color: #192735;
  color: white;
  width: 170px;
  height: 40px;
  text-align: center;
  line-height: 2.5;
  margin-top: 2.5em;
}

/* **************************************end Quote************************************ */

.team {
  margin: 7em 0 7em 0.2em;
}

.team .card {
  background-color: #2a4359;
  -webkit-box-shadow: 0 0 5px silver;
  box-shadow: 0 0 5px silver;
  border-radius: 1em;
  margin-top: 1em;
  overflow: hidden;
}

.team .card figure {
  overflow: hidden;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  position: relative;
}
.team .card figure::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: -o-linear-gradient(transparent, #2a4359);
  background: linear-gradient(transparent, #2a4359);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.team .card img {
  width: 100%;
  height: 250px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
.team .card:hover figure::after {
  top: 0;
}
.team .card:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}

.team .card-body {
  margin-top: 1em;
}

.team .card-title {
  font-weight: bold;
  color: #fafafaec;
}

.team .card p:nth-of-type(2) {
  color: #f1a005;
}

.team .social-team {
  position: absolute;
  width: 75%;
  top: 40%;
  left: 60%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 0.7em 1.2em 0.5em 2em;

  opacity: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.team .social-team li {
  color: #ffffff;
  background-color: #f1a005;
  border-radius: 50%;
  margin: 0.2em;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.team .card:hover .social-team {
  opacity: 1;
}

/* **************************************end team************************************ */
.Customers {
  margin-top: 4em;
  padding: 6em 2.3em 6em 2em;
  background-color: #2a4359;
}

.title-Customers {
  font-size: 1.2em;
  font-weight: bold;
  color:#192735;
  margin-bottom: 3em;
  position: relative;
  padding: 0 0.5em;
  margin-left: 3em;
}

.title-Customers::after {
  content: '';
  position: absolute;
  top: -3px;
  right: 0;
  width: 3px;
  height: 40px;
  background-color: #f1a005;
}

.title-Customers-left {
  margin-top: 5em;
  color: #ffffff;
}

.Customers-logo figure {
  width: 100%;
}

.Customers-logo img {
  width: 120px;
  height:80px;
  -webkit-filter: brightness(0) invert(1);  
  filter: brightness(0) invert(1);
  -o-object-fit: contain;  
  object-fit: contain;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.Customers-carousel {
  -webkit-box-shadow: 0 0 5px silver;
  box-shadow: 0 0 5px silver;
  padding: 3em 1em;
  border-radius: 1em;
}

.Customers-carousel img {
  width: 100px;
  height: 80px;
  border-radius: 50%;
  margin-left: 1em;
}

.Customers-carousel-name {
  font-weight: bold;
  color: #ffffff;
}

.Customers-carousel p:nth-of-type(2) {
  color: rgb(165, 174, 184);
}

.Customers-carousel p:nth-of-type(3) {
  margin-top: 2em;
  color: #ffffff;
}

.Customers-carousel .bg-black {
  background-color: #f1a005 !important;
}

/* **************************************end Customers************************************ */
 .blog{
  margin-top: 6em;
 }
 .homepage-01 .swiper{
  margin-top: 1em;
 }
.blog .content-swiper-slider {
  -webkit-box-shadow: 0 0 5px silver;
  box-shadow: 0 0 5px silver;
  border-radius: 1em;
  background-color: #2a4359;
}

.blog .swiper-wrapper {
  height: 530px !important;
}
.date-blog {
  font-size: 0.9em;
  color: #c9c8c8;
  font-weight: bold;
  margin: 1em;
}

.title-blog {
  font-size: 0.9em;
  font-weight: bold;
  color: #f1a005;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.caption-blog {
  color: #ffffff;
}

.caption-blog {
  font-size: 0.9em;
}

.figure-blog {
  overflow: hidden;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  position: relative;
}

.figure-blog::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2a435959;
}

.img-blog {
  height: 210px;
  width: 100%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.blog .swiper-slide:hover .img-blog {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.blog p:nth-of-type(2) {
  font-size: 0.9em;
  margin-top: 1em;
  color: dimgrey;
}

.more-blog a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9em;
}

.more-blog span:nth-of-type(1) {
  color: white;
  background-color: #f1a005;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.more-blog a:hover span:nth-of-type(1) {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.more-blog span:nth-of-type(2) {
  -webkit-transform: translateY(0.3em);
  -ms-transform: translateY(0.3em);
  transform: translateY(0.3em);
  color: #f1a005;
  padding-right: 0.1em;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.more-blog a:hover span:nth-of-type(2) {
  padding-right: 0.4em;
}

/* **************************************end blog************************************ */
.homepage-01 .footer{
  margin-top: 2em;
}
.footer {
  background-color: #223b52;
  padding: 5em 4em 4em 4em;
  color: rgb(145, 145, 145);
  font-size: 1em;
  margin-top: 4em;
  width: 100%;
}

.footer img {
  width: 100px;
  margin-right: -2em;
  margin-top: -0.5em;
}

.footer .caption-footer {
  text-align: justify;
}

.footer .social-footer {
  margin-right: -2.7em;
}

.footer .list-footer-right {
  margin-right: -2.3em;
}

.footer .list-footer-left {
  margin-right: -2.3em;
}

.footer .list-footer-right ul,
.footer .list-footer-left ul {
  width: 80%;
}

.footer .social-footer li {
  margin: 0 0.3em;
  width: 35px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #f1a005;
  border-radius: 50%;
}

.footer .social-footer li:hover {
  color: #1b334b;
}

.footer .title-footer {
  color: #f1a005;
  font-weight: bold;
}

.footer .mr {
  margin-right: 2.3em;
}

.footer a li {
  color: white;
  margin-top: 0.5em;
  display: block;
  width: auto;
}

.footer a li:hover {
  color: #f1a005;
}

.copyright {
  background-color: #1b334b;
  width: 100%;
  padding: 0.8em 0;
  color: white;
  text-align: center;
  font-size: 0.9em;
}
