.about-1 {
  padding:1em 0 3.7em 0;
}

.about-1 p:nth-of-type(2) {
  text-align: justify;
  color: rgb(97, 97, 97);
}

.about-1 figure {
  box-shadow: -4px -4px 2px #f7b741,4px 4px 2px #f7b741;
  padding: 0.4em;
  display: none;
}

.about-1 figure img {
  width: 100%;
  height: 310px;
  object-fit: cover;
}

/* **************************************end about us************************************ */

.about-service span {
  color: #f7b741;
  background-color: #03192b;
  font-size: 2em;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-service .card-title {
  font-weight: bold;
  margin-top: 1em;
}

.about-service .card-text {
  margin-top: 1em;
  color: rgb(97, 97, 97);
}

/* **************************************end about-service************************************ */
@media screen and (min-width: 992px) {

.about-1 p:nth-of-type(2){
     padding-left:3em;
    
}
.about-1 figure{ 
     display:block;
 }
}