.questions-accordion {
  margin-top: 4em;
}
.questions-accordion img {
  width: 90%;
  height: 490px;
  -o-object-fit: cover;
  object-fit: cover;
}
.questions-accordion .title-Customers {
  margin-left: 0;
}
.accordion-1 {
  background-color: #223144;
  color: #ffffff;
  cursor: pointer;
  padding: 1.2em 1.6em;
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.9em;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-align: right;
  border-bottom: 1px solid white;
  position: relative;
}
.active,
.accordion-1:hover {
  background-color: #223144;
}
.accordion-1:after {
  content: '\002B';
  position: absolute;
  left: 10px;
  color: #ffffff;
  font-weight: bold;
  float: right;
  margin: 0 0.5em;
}
.active:after {
  content: '\2212';
}
.panel {
  padding: 0 1.2em;
  background-color: rgb(236, 233, 233);
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}
.panel p {
  padding: 1em 0;
  font-size: 0.9em;
}
