.sidebar {
  padding-left: 0;
}
.btn-search{
  border: none;
  color: white;
  border-radius: 5px;
  width: 40px;
  background-color: #2a4359;
  position: absolute;
  top: 0;
  left: 0;
}
.btn-search:hover{
  color: white;
  background-color: #2a4359;
}
.sidebar ul {
  -webkit-transform: translateX(1em);
  -ms-transform: translateX(1em);
  transform: translateX(1em);
}
.sidebar-head {
  background-color: #2a4359;
  color: white;
  border-radius: 5px;
  padding: 1em 0.9em;
  margin-top: 2.5em;
}
.sidebar-category li:hover {
  color: #fbab18;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sidebar-post img {
  width: 80px;
  height: 70px;
  margin-left: 0.5em;
}

.sidebar-post ul li p {
  width: 100%;
  font-size: 0.9em;
  margin-top: -0.1em;
  margin-bottom: 0.3em;
  font-weight: bold;
}

.sidebar-post span {
  color: dimgrey;
  font-size: 0.8em;
}

.sidebar-label li {
  margin-left: 1.2em;
  padding: 0.4em;
  border-radius: 5px;
  font-size: 0.9em;
  background-color: rgb(235, 235, 235);
}

.sidebar-label li:hover {
  background-color: #fbab18;
  color: white;
}

.sidebar li {
  margin-top: 0.8em;
}

.sidebar a {
  color: rgb(0, 0, 0);
}
.blog-detail img{
  width:100%;
  height:400px;
}
.entry-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2em;
  margin-top: -1.5em;
  -webkit-transform: translateX(2.4em);
  -ms-transform: translateX(2.4em);
  transform: translateX(2.4em);
}

.entry-meta li {
  margin-left: 1.5em;
  color: #7c7c7c;
  font-size: 0.9em;
}

.entry-meta span {
  margin-right: 0.2em;
}

hr {
  opacity: 0.15;
}

.reply-comment {
  margin-top: 2em;
}

.reply-comment .box-comment {
  background-color: #e6e6e6;
  border-radius: 0.5em;
  padding: 1.7em;
  margin: 1em 0;
}

.reply-comment .comment {
  padding: 1.7em 0;
}

.reply-comment .reply {
  cursor: pointer;
}

.comment-form {
  margin-top: 3em;
  margin-bottom: 2em;
  padding: 0 0.5em;
}

.comment-form p:nth-of-type(1) {
  font-family: 'IransansBold';
  color: black;
  margin: 1.5em 0;
}
/* ************************************************* */
@media screen and (min-width: 454px) {
  .sidebar-post ul li p {
    margin-top: 0.6em;
  }
}
@media screen and (min-width: 768px) {
  .sidebar {
    padding-left: 2em;
  }

  .sidebar-post ul li p {
    font-size: 1em;
    margin-top: 0.2em;
  }
}
