.about-2 {
  margin-top: 6em;
}

.about-2 figure {
  padding: 0.7em;
}

.about-2 img {
  width: 100%;
  height: 220px;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
}

.about-2 p {
  text-align: justify;
}

/* ***************about top***************** */

.about-box {
  background-color: #2a4359;
  margin: 7em 0 8em 0;
  padding: 0;
}

.about-box img {
  width: 100%;
  height: 565px;
  -o-object-fit: cover;
  object-fit: cover;
}
.about-box .aboutbox-text {
  padding: 4em 2em;
  margin-top: 1em;
  color: white;
}
.about-box .aboutbox-text p:nth-of-type(1) {
  font-weight: bold;
  font-size: 1.5em;
}

.about-box .list-text {
  color: white;
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
}

/* ***************about services**************** */
.about-caption figure{
width: 90%;
position: relative;
margin-right: 2em;
margin-bottom: 4em;
}
.about-caption figure::after{
  content: '';
  position: absolute;
  top: 35px;
 right: -25px;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  background-color: #223144;
  z-index: -1;
}
.about-caption img{
  width: 100%;
border-radius: 1em;
}
/* ***************about***************** */