.blog-grid{
  margin-top: 5em;
}

.blog-grid .card {
  -webkit-box-shadow: 0 0 5px silver;
  box-shadow: 0 0 5px silver;
  background-color: #2a4359;
  border-radius: 1em;
  margin-top: 2em;
  text-align: right;
  font-size: 1em !important;
}

.blog-grid .card:hover .img-blog {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.blog-grid .title-blog {
  margin-top: -1em;
}

.blog-grid .title-blog,
.blog-grid .caption-blog,
.blog-grid .date-blog {
  font-size: 1em !important;
}
/* *********************************************************** */
@media screen and (min-width: 768px) {
  .blog-list .card {
    font-size: 1em !important;
  }
}
