.project-details {
  margin-top: 5em;
}

.project-details img {
  width: 100%;
  object-fit: cover;
}
.project-details .img-big {
  height: 520px;
}
.project-details .img-small {
  height: 250px;
}
.bold-text {
  font-family: 'IransansBold';
  font-size: 1.2em;
}

hr {
  opacity: 0.15;
}
.reply-comment .box-comment {
  background-color: #fbab18;
  border-radius: 0.5em;
  padding: 1.7em;
  margin: 1em 0;
}
.reply-comment .comment {
  padding: 1.7em 0;
}
.reply-comment .reply {
  cursor: pointer;
}
.comment-form {
  margin-top: 3em;
  margin-bottom: 5em;
  padding: 0 0.5em;
}
.comment-form p:nth-of-type(1) {
  font-family: 'IransansBold';
  color: black;
  margin: 1.5em 0;
}
.comment-form .form-control {
  border: 1px solid #e0dfdf;
  border-radius: 8px;
}
/* ***************************************************** */
@media screen and (min-width: 1200px) {
  .describe-project{
  padding-left: 1.5em;
}
}
/* x-large */