.project-details {
  margin-top: 5em;
}

.project-details img {
  width: 100%;
  object-fit: cover;
}
.project-details .img-big {
  height: 520px;
}
.project-details .img-small {
  height: 250px;
}
.bold-text {
  font-family: 'IransansBold';
  font-size: 1.2em;
}

/* ***************************************************** */
@media screen and (min-width: 1200px) {
  .describe-project{
  padding-left: 1.5em;
}
}
/* x-large */