.callus-section {
  margin-top: 4em;
  margin-bottom: 5em;
}

.callus-section .callus-caption {
  text-align: justify;
}

.callus-section ul {
  transform: translateX(2em);
  overflow-x: hidden;
}

.callus-section ul li {
  margin-top: 1.5em;
}
.callus-section form .form-control {
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}

.callus-section form .form-control::placeholder {
  color: rgb(170, 169, 169);
}
/* *********************************************************************** */
@media screen and (min-width: 1200px) {
  .callus-section .callus-caption {
    padding-left: 2em;
  }
  .callus-section ul {
    transform: translateX(2.3em);
  }
}
